# common
target
*.class

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# vim
tags
.*.swp
.*.swo

# idea
*.iml
*.ipr
*.iws
.idea
out

# scala ide
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`

